<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans
	  http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/context
	  http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring
      http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd">
	<context:annotation-config/>
	<context:component-scan base-package="com.darinpope"/>

    <bean id="clustering" class="com.darinpope.util.Clustering"
          p:terracottaConfigUrl="${terracottaConfigUrl}" />

    <bean id="sdpNotificationListRequestQueue" class="com.darinpope.util.TerracottaBlockingQueue"
          p:name="sdpNotificationListRequest" />

    <bean id="sdpNotificationDeleteRequestQueue" class="com.darinpope.util.TerracottaBlockingQueue"
          p:name="sdpNotificationDeleteRequest"
          p:capacity="100"/>

    <ehcache:annotation-driven cache-manager="referenceDataCacheManager" />
    <bean id="referenceDataCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
        p:configLocation="ehcache.xml" />
    <bean id="countryCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean"
          p:cacheManager-ref="referenceDataCacheManager"
          p:cacheName="CountryCache" />

    <bean id="testTerracottaAtomicLong" class="com.darinpope.util.TerracottaAtomicLong"
          p:name="testTerracottaAtomicLong" />

</beans>